@import url("https://fonts.google.com");

body *{
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-family: "Source Code Pro rev=1";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.main {
  /* height:100vh; */
  position: absolute;
  display: flex;
}

/* a links style */
a:not(.to_post){
  color:black !important;
}

.to_page:hover, .to_category:hover{
  color:red !important;
}

.tmp_footer{
  height: 80px;
}

.footer{
  width: 100%;
  position: fixed;
  bottom:0px;
  background: white;
}